*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	min-width: 1263px;
	max-width: 1920px;
	background: linear-gradient(#151515, #0f0f0f);
	margin: 0 auto;
	font-family: sans-serif;
	min-height: 100vh;
}

.padBlock {
	padding: 0 50px;
	width: 100%;
	/*	margin: 0 auto;*/
	min-width: 1263px;
	max-width: 1920px;
}

header {
	margin-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 76px;
	padding: 0 50px;
}

.header__left {
	height: 75px;
}

.header__right {
	position: relative;
	height: 20px;
}

/*  menu */

.menuWrapper {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 20;
	right: 0px;
	top: 0px;
	z-index: 300;
}

/* ******************************************** */

.c-hamburger {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 110;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 25px;
	height: 22px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
}

.c-hamburger:focus {
	outline: none;
}

.c-hamburger span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 2px;
	background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	content: "";
}

.c-hamburger span::before {
	top: -10px;
}

.c-hamburger span::after {
	bottom: -10px;
}


.c-hamburger--htx {
	background-color: transparent;
}

.c-hamburger--htx span {
	/* transition: background 0s 0.3s; */
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
	transition-property: top, transform;
}

.c-hamburger--htx span::after {
	transition-property: bottom, transform;
}

/* состояние active при открытом меню  */

.c-hamburger--htx.is-active {
	background-color: transparent;
}

.c-hamburger--htx.is-active span {
	background: none;
}

.c-hamburger--htx.is-active span::before {
	top: 0;
	transform: rotate(45deg);
	background-color: #141414;
}

.c-hamburger--htx.is-active span::after {
	bottom: 0;
	transform: rotate(-45deg);
	background-color: #141414;
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
	transition-delay: 0s, 0.3s;
}

.c-hamburger--htx.hamburgerBlack span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 2px;
	background: #141414;
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;

}

.c-hamburger--htx.hamburgerBlack span::before {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #141414 !important;
	content: "";
	top: -10px;
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}

.c-hamburger--htx.hamburgerBlack span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #141414 !important;
	content: "";
	bottom: -10px;
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}




/*******************************************/

.c-hamburgerOpen {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 110;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 25px;
	height: 22px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
}

.c-hamburgerOpen:focus {
	outline: none;
}

.c-hamburgerOpen span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 2px;
	background: white;
}

.c-hamburgerOpen span::before,
.c-hamburgerOpen span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	content: "";
}

.c-hamburgerOpen span::before {
	top: -10px;
}

.c-hamburgerOpen span::after {
	bottom: -10px;
}


.c-hamburger--htxOpen {
	background-color: transparent;
}

.c-hamburger--htxOpen span {
	transition: background 0s 0.3s;
}

.c-hamburger--htxOpen span::before,
.c-hamburger--htxOpen span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}

.c-hamburger--htxOpen span::before {
	transition-property: top, transform;
}

.c-hamburger--htxOpen span::after {
	transition-property: bottom, transform;
}

/* состояние active при открытом меню  */

.c-hamburger--htxOpen.is-active {
	background-color: transparent;
}

.c-hamburger--htxOpen.is-active span {
	background: none;
}

.c-hamburger--htxOpen.is-active span::before {
	top: 0;
	transform: rotate(45deg);
	background-color: #141414;
}

.c-hamburger--htxOpen.is-active span::after {
	bottom: 0;
	transform: rotate(-45deg);
	background-color: #141414;
}

.c-hamburger--htxOpen.is-active span::before,
.c-hamburger--htxOpen.is-active span::after {
	transition-delay: 0s, 0.3s;
}

.c-hamburger--htxOpen.hamburgerBlack span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 2px;
	background: #141414;

}

.c-hamburger--htxOpen.hamburgerBlack span::before {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #141414 !important;
	content: "";
	top: -10px;
}

.c-hamburger--htxOpen.hamburgerBlack span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #141414 !important;
	content: "";
	bottom: -10px;
}

















/* ************************************************** */

.activeMenu {
	display: block !important;
	width: 475px;
	transition: .3s width;

}

.mainMenu {
	width: 475px;
	display: none;
	background-color: #fff;
	color: #000;
	height: 100%;
	z-index: 200;
	position: absolute;
	right: 0;
	top: -50px;
	min-height: 100vh;
	transition: .3s width;
	box-shadow: -8px 0px 15px rgba(20, 20, 20, .10);
}

.mainMenuWrapp {
	position: relative;
	width: 100%;
	height: 100%;
}

.socIcons {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.socIcons ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 106px;
}

.socIcons ul li {
	font-size: 15px;
	border-radius: 50%;
	border: 1px solid #7a7a7a;
	width: 30px;
	height: 30px;
	outline: 0;
	line-height: 30px;
	text-align: center;
}

.socIcons ul li:hover {
	transition: .3s all;
	transform: rotate(360deg);
	box-shadow: 0px 0px 5px #7e7e7e;
	border: 0px;
}

.socIcons ul li a {
	color: #7a7a7a;
}

.mainMenuWrapp ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.mainMenuWrapp nav {
	position: absolute;
	top: 50%;
	left: 14.73%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mainMenuWrapp nav li {
	margin-bottom: 33px;
	text-align: left;

}

.mainMenuWrapp nav a {
	text-decoration: none;
	font-size: 18px;
	color: #000;
	-webkit-transition: .3s color;
	-o-transition: .3s color;
	transition: .3s color;
	font-family: "PT Sans";
	font-weight: 700;

}

.mainMenuWrapp nav a:hover {
	color: #ff4747 !important;
}

.mainMenuWrapp nav .active {
	color: #ff4747 !important;
}



/*end menu*/

.firstScreen {
	height: 100vh;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.firstScreen__left {}

.firstScreen__left h3 {
	font-size: 90px;
	color: #fff;
	font-family: "Montserrat";
	font-weight: 800;
	position: relative;
	z-index: -1;
	margin-bottom: 45px;
}

.firstScreen__left h3 img {
	position: absolute;
	right: -29%;
	top: -75%;
}

.firstScreen__left p {
	width: 100%;
	max-width: 495px;
	font-size: 16px;
	line-height: 24px;
	font-family: "Ubuntu";
	margin-bottom: 30px;
}

.firstScreen__left a {
	width: 190px;
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	background-color: #6448f0;
	color: #fff;
	text-decoration: none;
	box-shadow: 0px 0px 18px #6448f0;
	font-size: 16px;
	font-family: "Ubuntu";
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
	margin-bottom: 65px;
}

.firstScreen__left a:hover {
	box-shadow: none;
}

.deadLine {
	border-right: 1px solid #535353;
	width: 100%;
	max-width: 211px;
	height: 80px;
	padding: 11px 0;
}

.deadLine p {
	font-size: 18px;
	color: #535353;
	font-family: "Montserrat";
	text-transform: uppercase;
	margin-bottom: 5px;
}

.deadLine h3 {
	font-size: 24px;
	color: #fff;
	font-family: "Montserrat";
	font-weight: 700;
	margin-bottom: 0;
}

/*scroll*/

.wrapperScroll {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: calc(26% + 2px);
}

.scroll-downs {
	margin: auto;
	width: 34px;
	height: 55px;
}

.mousey {
	width: 3px;
	padding: 10px 15px;
	height: 35px;
	border: 2px solid #fff;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
}

.scroller {
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #fff;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}

@keyframes scroll {
	0% {
		opacity: 0;
	}
	10% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(15px);
		opacity: 0;
	}
}

/*end scroll*/
